
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
env/
.venv/

# Data (large files - don't commit)
data/

# Model / index artifacts
*.npy
*.faiss

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDE
.vscode/
.idea/
*.swp

weights/
*.mp4
